<% @title="Ajoute Questions" %>
  <div class="mx-auto">
    <div class="row bg-light rounded-md">

    <h1 class="font-bold text-4xl">Nouvelle question</h1>
      <!-- main feed -->
      <%= render "form", question: @question %>
    </div>
  </div>