
<% @title= "Bac: Exercice" %>
<%= render "home/shared/navbar" %> 

<div class="mx-auto md:w-2/3 w-full flex mt-24">
   
  <div class="mx-auto">
    <div class="border bg-white ">
      <div class="bg-gray-200 m-1 p-2 font-semibold underline">
        <%= @result.exercice.name %>
      </div>
      <div class="p-2">
      <%= render "form", result: @result %>
      </div>

    </div>
  </div>
</div>
