

<%= render "home/shared/navbar" %> 
<% @title= "Exploiter sujet" %>
<div class="w-full mx-auto md:w-2/3 mt-12 ">
    <p class="mt-6"><%= @result.exercice.name %></p>
  <div class="mx-auto">
    <%= render "form", result: @result %>
  </div>
</div>