<% @title="Prépa Bac 2022" %>

<!-- ====== Navbar Section Start -->
   
    <!-- ====== Navbar Section End -->
<%= render "page/shared/navbar" %>

<!-- ====== Banner Section Start -->
    <div
      class=" relative z-10 pt-[120px] md:pt-[130px] lg:pt-[160px] pb-[100px] bg-primary overflow-hidden">
      <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full px-4">
            <div class="text-center">
              <h1 class="font-semibold text-white text-4xl"><span class="underline">Corriger mes Lacunes avant le Bac</span> </h1>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span class="absolute top-0 left-0 z-[-1]">
          <svg
            width="495"
            height="470"
            viewBox="0 0 495 470"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="55"
              cy="442"
              r="138"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="50"
            />
            <circle
              cx="446"
              r="39"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="20"
            />
            <path
              d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z"
              stroke="white"
              stroke-opacity="0.08"
              stroke-width="12"
            />
          </svg>
        </span>
        <span class="absolute top-0 right-0 z-[-1]">
          <svg
            width="493"
            height="470"
            viewBox="0 0 493 470"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="462"
              cy="5"
              r="138"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="50"
            />
            <circle
              cx="49"
              cy="470"
              r="39"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="20"
            />
            <path
              d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z"
              stroke="white"
              stroke-opacity="0.06"
              stroke-width="13"
            />
          </svg>
        </span>
      </div>
    </div>
    <!-- ====== Banner Section End -->

    <!-- ====== Blog Details Section Start -->
    <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
      <div class="container">
        <div class="flex flex-wrap justify-center -mx-4">
          <div class="w-full px-4">
    
            <div class="flex flex-wrap -mx-4">
              <div class="w-full lg:w-8/12 px-4">
                <div>
                  <h2
                    class="
                      font-bold
                      text-dark text-[26px]
                      sm:text-3xl
                      md:text-4xl
                      leading-snug
                      sm:leading-snug
                      md:leading-snug
                      mb-6
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s
                    "
                  >
                   Nous organisons "Corriger mes Lacunes" pour qui?
                  </h2>
                  <p
                    class="
                      text-base text-body-color
                      leading-relaxed
                      mb-8
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s"
                  >
                    Le Programme "Corriger mes Lacunes:" est organisé pour les eleves qui ont des lacunes en <span class="font-bold">Mathematique,
                    Physique-chimie, SVT, Français, Philosophie, Histoire-Géographie.</span>
                    <br class=""> Je vous detail plus:
                  </p>
                  <p
                    class=" text-base text-body-color leading-relaxed mb-10 wow fadeInUp" data-wow-delay=".1s">
                    Nous savons que beaucoup de candidats sont dans "les cours de prépa" à l'école ou des groupes d'études
                    <br /> à domicile mais qui ont des lacunes qui peuvent tuer leur Bac.
                    <br> Pour éviter ce constat triste, nous avons lancé <span class="font-bold">Corriger mes Lacunes</span>

                  </p>
                  <h3
                    class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s"
                  >
                    Le programme en ligne dédié à la correction des lacunes

                  </h3>
                  <p
                    class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s"
                  >
                    Alors participez au programme si tu as des lacunes en:

                  </p>
                  <div
                    class="
                      bg-primary bg-opacity-5
                      rounded
                      overflow-hidden
                      relative
                      py-8
                      px-6
                      sm:p-10
                      md:px-[60px]
                      text-center
                      z-10
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s
                    "
                  >
                    <div class="max-w-[530px] mx-auto">
                      <span class="flex justify-center mb-6 text-primary">
                        <svg
                          width="44"
                          height="26"
                          viewBox="0 0 44 26"
                          class="fill-current"
                        >
                          <path
                            d="M10.1101 0.00124908C5.46698 -0.0701833 1.25247 2.92998 0.252417 7.00162C-0.319041 9.50175 0.180985 12.0019 1.68106 14.002C3.25258 16.145 5.68128 17.5022 8.39571 17.8593L10.8958 24.0025C11.1816 24.6454 11.8245 25.074 12.5388 25.074C13.2531 25.074 13.896 24.6454 14.1817 24.0025C14.6103 22.931 15.1103 21.7881 15.6104 20.7166C16.8247 18.0022 18.0391 15.2163 18.9677 12.359C19.9677 9.35889 19.5392 6.14443 17.8248 3.71573C16.1104 1.35846 13.396 0.0726814 10.1101 0.00124908ZM16.6104 11.6447C15.6818 14.3592 14.4675 17.145 13.3245 19.788C13.1102 20.3595 12.8245 20.8595 12.6102 21.431L10.1815 15.5735L9.39576 15.5021C7.10992 15.3592 4.96695 14.2163 3.7526 12.5733C2.68112 11.1447 2.32396 9.35889 2.75255 7.64451C3.46687 4.71579 6.53846 2.57281 10.0386 2.57281H10.1101C12.5388 2.57281 14.5389 3.57287 15.8247 5.28724C17.039 7.00162 17.3247 9.43032 16.6104 11.6447Z"
                          />
                          <path
                            d="M42.3267 3.78726C40.6124 1.35856 37.8979 0.00134277 34.612 0.00134277C34.5406 0.00134277 34.5406 0.00134277 34.4692 0.00134277C29.8975 0.00134277 25.7544 3.0015 24.7544 7.00171C24.1829 9.50185 24.6829 12.002 26.183 14.0735C27.7545 16.2165 30.1832 17.5737 32.8977 17.9309L35.3978 24.074C35.6835 24.7169 36.3264 25.1455 37.0407 25.1455C37.7551 25.1455 38.398 24.7169 38.6837 24.074C39.1123 23.0026 39.6123 21.8596 40.1123 20.7882C41.3267 18.0737 42.541 15.2879 43.4696 12.4306C44.4697 9.50184 44.0411 6.21596 42.3267 3.78726ZM41.1124 11.6448C40.1838 14.3592 38.9694 17.1451 37.8265 19.7881C37.6122 20.3596 37.3265 20.8596 37.1122 21.431L34.6835 15.5736L33.8977 15.5022C31.6119 15.3593 29.4689 14.2164 28.2546 12.5734C27.1831 11.1448 26.8259 9.35898 27.2545 7.57317C27.9688 4.64445 31.0404 2.50147 34.5406 2.50147H34.612C37.0407 2.50147 39.0408 3.50153 40.3266 5.2159C41.541 7.00171 41.8267 9.43041 41.1124 11.6448Z"
                          />
                        </svg>
                      </span>
                      <p
                        class="
                          font-medium
                          text-dark text-base
                          italic
                          leading-[26px]
                          mb-4
                        "
                      >
                       <ul class="">
                        <il>Philo: <br>
                          <span class="font-bold">en dissertation</span> si tu as des difficultés, nous allons te montrer comment faire une bonne introduction, à trouver le problème et le reformuler, poser bien les axes.
                        </il>
                        <il class="">
                       <span class="font-bold"> Dans le développement</span>,  tu pourras  bien organiser le développement,  bien utiliser les connecteurs logiques,
                        organiser ses arguments et à bien faire la conclusion partielle. <br>

                            Nous ferons de même pour <span class="font-bold">la conclusion</span> et enfin <span class="font-bold">le commentaire philosophique</span> n’aura pas de secret pour toi. 
                        
                            
                          <hr class="font-white">

                           <il class=""> <span class="font-bold"> En Français</span>, Après les séances de cours avec le professeur Donatien: le résumé, le commentaire composé ou  la fameuse dissertation seront presqu’un joués pour toi pour sécuriser tes points.</il>
                          <hr class="font-white">
                          <il>
                           <span class="font-bold"> En Histoire-Géo</span>, Avec le professeur Tra Bi, tu pourra faire la dissertation , le commentaire, les constrction et comment bien commenter les graphiques 
                            Nous ferons de même en Math, SVT et Physique-chimie.
                          </il>

                        </il>
                       </ul>
                      </p>
                      
                    </div>
                    <div>
                      <span class="absolute left-0 top-0">
                        <svg
                          width="103"
                          height="109"
                          viewBox="0 0 103 109"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <ellipse
                            cx="0.483916"
                            cy="3.5"
                            rx="102.075"
                            ry="105.5"
                            transform="rotate(180 0.483916 3.5)"
                            fill="url(#paint0_linear)"
                          />
                          <defs>
                            <linearGradient
                              id="paint0_linear"
                              x1="-101.591"
                              y1="-50.4346"
                              x2="49.1618"
                              y2="-49.6518"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop stop-color="#3056D3" stop-opacity="0.15" />
                              <stop
                                offset="1"
                                stop-color="white"
                                stop-opacity="0"
                              />
                            </linearGradient>
                          </defs>
                        </svg>
                      </span>
                      <span class="absolute bottom-0 right-0">
                        <svg
                          width="102"
                          height="106"
                          viewBox="0 0 102 106"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <ellipse
                            cx="102.484"
                            cy="105.5"
                            rx="102.075"
                            ry="105.5"
                            fill="url(#paint0_linear)"
                          />
                          <defs>
                            <linearGradient
                              id="paint0_linear"
                              x1="0.409163"
                              y1="51.5654"
                              x2="151.162"
                              y2="52.3482"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop stop-color="#3056D3" stop-opacity="0.5" />
                              <stop
                                offset="1"
                                stop-color="white"
                                stop-opacity=".2"
                              />
                            </linearGradient>
                          </defs>
                        </svg>
                      </span>
                    </div>
                  </div>

                  <h3
                    class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s"
                  >
                   Le prix du programme?
                  </h3>

                  <div
                    class=" text-base text-body-color leading-relaxed mb-8 wow fadeInUp
                    " data-wow-delay=".1s" >
                      <ul class="">
                        <li><span class="font-bold">Tarif unique:</span> 3000fr jusqu’au Bac et 6 matières</li>
                      </ul>
                    <p class="">Important: Si tu veux participer au programme, corrigez mes lacunes. tu auras 3 jours pour payer ton inscription.</p>

                  </div>
                   <h2 class=""> Ce que tu auras accès après ton inscription:</h2>
                  <p class=" text-base text-body-color leading-relaxed mb-11 wow fadeInUp" data-wow-delay=".1s">
                   <ul class="" style="list-style-type:square;">
                    <li class="">+10 sujets de philo rédigé pour vous inspirer lors des rédactions.</li>
                    <li class="">10 sujets les histoire-Géo type Bac ( disons sujet probable au Bac)</li>
                    <li class="">+20  sujets de philo en plan détaillé et des arguments à utiliser si un sujet sort au bac.</li>
                    <li class="">+10 sujets d' Histoire-Géo en plan détaillé et des arguments à utiliser si un sujet sort au bac. </li>
                    <li class="">Chaque soir, une matière est traitée dans le groupe par un des professeurs.</li>
                    <li class="">Ils sont à votre disposition si vous avez des difficultés dans sa matière.</li>
                   </ul>
                  </p>

                  <div class="flex flex-wrap items-center -mx-4 mb-12">
                   <div>
                  <div
                    class="
                      mb-12
                      bg-primary
                      rounded
                      relative
                      overflow-hidden
                      text-center
                      py-[60px]
                      
                      lg:px-8
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s
                    "
                  >
                    <h3 class="font-semibold text-white mb-2 text-2xl">
                      Integrez le programme <br>Corriger mes lacune
                    </h3>
                    <p class="text-base text-white mb-8">
                     les sujets sont reservé apres le paiement de l'inscription
                    </p>
                    <div>
                      <%= link_to "Integrer le groupe", "https://chat.whatsapp.com/FUxR0pgohw0Iq5wcocUTgM", class:"
                          w-full
                          text-center
                          h-[50px]
                          text-sm
                          font-medium
                          bg-white bg-opacity-20
                          placeholder-white
                          text-white
                          rounded
                          mb-4
                          outline-none
                          border border-transparent
                          focus-visible:shadow-none
                          focus:border-white p-4" %>
                      <%= link_to "je paie mon inscripton", "https://wa.me/0584258085?text=Je voudrais m'inscrire au programme *corriger mes lacunes*",
                        class:" w-full text-center h-[50px] text-sm font-medium text-white rounded mb-6 bg-[#13C296] cursor-pointer hover:shadow-lg
                         hover:bg-opacity-90 transition duration-300 ease-in-out p-4" %>
                    </div>
                    <p class="text-sm font-medium text-white pt-4 ">
                      l'accès au programme complet apres le paiement
                    </p>

                    <div>
                      <span class="absolute top-0 right-0">
                        <svg
                          width="46"
                          height="46"
                          viewBox="0 0 46 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle
                            cx="1.39737"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 1.39737 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 1.39737 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 13.6943 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 13.6943 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 25.9911 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 25.9911 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 38.288 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 38.288 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 1.39737 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 13.6943 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 25.9911 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 38.288 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 1.39737 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 13.6943 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 25.9911 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 38.288 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                        </svg>
                      </span>
                      <span class="absolute bottom-0 left-0">
                        <svg
                          width="46"
                          height="46"
                          viewBox="0 0 46 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle
                            cx="1.39737"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 1.39737 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 1.39737 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 13.6943 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 13.6943 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 25.9911 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 25.9911 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 38.288 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 38.288 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 1.39737 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 13.6943 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 25.9911 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 38.288 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 1.39737 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 13.6943 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 25.9911 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 38.288 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                        </svg>
                      </span>
                    </div>
                  </div>

                  
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </section>
    <!-- ====== Blog Details Section End -->
    