<div class="border rounded-md">
    <%= link_to(new_exercice_result_path(q), class: " text-black") do %>
        <div class="bg-gray-100 p-2">
            <h2 class="font-semibold"><%= q.name %></h2>
        </div>
        <div class="my-2 text-sm">
            <p> <%= q.questions.count %> Questions</p>
        </div>
    <% end %>
</div>