<% @FeedCourses.each do |c| %>
    <div class="bg-white border p-2 rounded-md mb-2">
        <h2 class="font-semibold text-xl" >
            <%= c.title %>
        </h2>
        <!-- Courses-->
        <div class="border rounded-md mt-2">
            <div class="p-2">
                <%= link_to course_path(c), class:"hover:text-black text-black no-underline" do %>
              <%= truncate(strip_tags(c.content.to_s.html_safe), length: 400)%>
              <span class="bg-blue-300 rounded-md" id=start-reading><i class="mx-2">Continuez la lecture ...</i></span>
            <% end %>
            </div>
            <!-- Feed Bar-->
            <div class="card border-t border-t-4">
               <div class="flex place-items-center font-semibold py-2">
               
                    
                    <div class="text-sm">
                       
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
<% end %> 